<a href="https://colab.research.google.com/github/sheffieldcl/PythonBIOF309/blob/main/Sheffield_unit_2_notebook_2b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 2 - Instructional DEMO 2b: Python semantics.
 - **Focus:** Basic python semantics. 
 - **Author(s):** Sara B-C.
 - **Date Notebook Last Modified:** 08.10.2020
 - **Quick Description:** Use this notebook to learn pyton semantics. We'll cover everything from assignments to operators in this. In the beginning, just hit play at each cell and watch things work. Once you are done, you can download the finished results. **There are some exercises to complete at the end!**

---
## Code outline
  0. Set up file stream (yep, this is in every notebook).
  1. Simple variable assignment.
  2. Multiple variable assignment.
  3. Basic math (arithmetic operations).   
  4. Comparison operators.
  5. Logical operators.
  6. Identity operators.
  7. Membership operators.
  8. Combine strings and paste.
  9. How to fail with data types.
  10. Example of future useful code.

---
## Additional notes
*   This semantics unit is foundationally key to future more complicated work in data manipulation and exploration as well as flow control and data analysis.

## 0. Lets set up filestream access
Follow the directions on screen as you run the code cell below and then you can access the data stored on your 'My Drive'. For many of you, this is the first python code you will ever execute knowingly, as most google infrastructure is python based (another reason why the language is growing)..You did this before, let's go!

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive/')
os.chdir("/content/drive/My Drive/FAES_BIOF309/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

Above you should now see the output "Mounted at /content/drive/". This means your storage is now connected to your notebook and its runtime. A runtime is the computer it will use to execute code and other computations. We'll cover what the above code means once you have learned some more python.

## 1. Simple variable assignment.

In [ ]:
a = 2
x = 3
c = a*x

print(a)
print(x)
print(c)

2
3
6

## 2. Multiple variable assignment.
An example of how efficient you can be with python.

In [ ]:
a = x = c = 3
d = a*x*c
print(a)
print(x)
print(c)
print(d)

3
3
3
27

## 3. Basic math (arithmetic operations).

Let's make some basic variables.

In [ ]:
a = 5
b = 2
c = 3

We assuming you know the basics of addition `+`, subtraction `-`, multiplication `*` and division `/`. Note, division `/` is not the same as what you would use to continue a statement to a new line `\`, they go in different directions.  
Lets cover a few arithmetic operations that are useful but not as common.

In [ ]:
# Modulus returns the remainder
c % b

1

In [ ]:
# Exponents, not a ^ like in R
c**b

9

## 4. Comparison operators.

In [ ]:
# Set some variables.
x = 10
y = 5
z = 5

In [ ]:
# Are x and y equal?
x == y

False

In [ ]:
# Is x greater than y?
x > y

True

In [ ]:
# Is x not equal to z?
x != z

True

In [ ]:
# Is y greater than or equal to z?
y >= z

True

## 5. Logical operators.
Great for compound criteria.

In [ ]:
# Lets use the same variables
x = 10
y = 5
z = 5

In [ ]:
# Does x = 10 and y + z = 10?
(x == 10) and (y + z == 10)

True

In [ ]:
# But what about this?
(x == 9) or (y + z == 10)

True

Remember, there are certain words that can't be set as objects for reasons like these.

## 6. Identity operators.

In [ ]:
# Make a list.
colors = ['red', 'blue', 'green']

In [ ]:
# Is this a list data type?
type(colors) is list

True

In [ ]:
# Is this not a list?
type(colors) is not list

False

## 7. Membership operators.

In [ ]:
# Using the colors list, check if 'red' is in the list.
'red' in colors

True

In [ ]:
# Maybe red is not in the colors list?
'red' not in colors

False

## 8. Combine strings and paste.

In [ ]:
a = "python"
b = " "
c = "is fun"

In [ ]:
a + b + c

'python is fun'

In [ ]:
# Some more advances examples you will get details on later.
"%s sometimes %s." % (a, c)

'python sometimes is fun.'

## 9.  How to fail with data types.

In [ ]:
# Combine and integer with a float is okay.
1 + 4.5

5.5

In [ ]:
# Combine an integer or float with a string, you get an error.
a = "this_String"
a + 1

TypeError: ignored

In [ ]:
# But if "a" actually represents a float or integer, you are okay!
a = 9.5
a + 1

10.5

## 10. Example of future useful code.

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [5, 6, 7, 8, 9, 10]

def intersection(list1, list2): 
    list3 = [value for value in list1 if value in list2] 
    return list3 

print(intersection(list1, list2)) # Printing the intersection of the two lists.

[5, 6, 7]

**Makes sense, now on to some exercises ...**

# Unit 2 : Assignment # 2b
***Come here to prove your knowledge.***

Text cells will indicate a task.  
Write your commands in the empty code cells below them.

## 1. Assign a variable.

In [ ]:
a = 5

## 2. Demonstrate simultaneous assignment of multiple variables in a single line.

In [ ]:
a,b,c = 1, 2, 3
print (a)
print (b)
print (c)

1
2
3

## 3. Use an exponent.

In [ ]:
5**2

25

## 4. Test if two variables are not equal to each other.

In [ ]:
a >= b

False

## 5. Make an `and` statement.

In [ ]:
###Check value within range of two parameters
x = 5
x >= 0 and x <= 10

SyntaxError: ignored

## 6. Make an `or` statement.

In [ ]:
###Check value within range or at least one parameter
x = 5
x > 10 or x < 6

True

## 7. Make a list and confirm if a string is part of that list.

In [ ]:
###Confirm str is part of list
myList = ['apple', 'orange', 'banana']
if 'apple' in myList:
  print("An apple a day, Will keep the doctor away")

An apple a day, Will keep the doctor away

## 8. Did you like this unit? Combine two strings to give feedback on this unit.

In [ ]:
a= "At all seems so"
b= " "
c= "logical!"
a + b + c

'At all seems so logical!'

## 9. Try and generate an error by combining non-compatible data types.

In [ ]:
a + b + c + 3.14

TypeError: ignored

## 10. Confirm a number is an integer.

In [ ]:
x = 5
print(type(x))

<class 'int'>

# Thanks, see you in the next unit!